<p id="notice"><%= notice %></p>
<div id="show_element" class="contianer">
  <p>
    <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @user.number %>
</p>

<p>
  <strong>Photo:</strong>
 <% if @user.photo? %>
      <img src="<%= @user.photo %> "  alt="Profile Picture" />
      <% else %>
      <img class="card-img-top" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" />
      <% end %>
</p>

<p>
  <strong>Allergic:</strong>
  <%= @user.allergic %>
</p>

<p>
  <strong>Member ID:</strong>
  <%= @user.member_ID %>
</p>
</div>

<div class="btn btn-primary">
  <%= link_to 'Edit', edit_user_path(@user), :class => "btn"  %> |
  <%= link_to 'Back', users_path, :class => "btn"  %>
</div>