<p id="notice"><%= notice %></p>
<h2>Medication</h2>
<div class="create_link"><%= link_to 'Add Medication', new_medication_path %></div>
<div class="container">
  <!-- Info card -->
  <!-- <div class="row" > -->
  <div id="row" class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
    <% @medications.each do |medication| %>
    <div class="card text-wrap" style="width: 290px;">
      <div id="body" class="card-body">
        <h2 class="card-title"><%= medication.name %></h2>
        <p class="card-text">Quantity: <%= medication.quantity %></p>
        <p class="card-text">Notes: <%= medication.notes %></p>
        <p class="card-text">Start Date: <%= medication.start_date%></p>
        <p class="card-text">Client ID: <%= medication.user_id %></p>
      </div>
      <div class="card-footer">
        <%= link_to 'Edit', edit_medication_path(medication) %> | <%= link_to 'Delete',
        medication, method: :delete, data: {confirm: 'Click OK to delete'} %>
      </div>
    </div>
    <% end %>
  </div>
  </div>
  