<p id="notice"><%= notice %></p>

<div id="show_element" class="contianer">

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @doctor.number %>
</p>

<p>
  <strong>Name of work place:</strong>
  <%= @doctor.hospital_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.address %>
</p>

<p>
    <strong>Client Name:</strong>
    <%= User.find(@doctor.user_id).name %>
</p>
</div>

<div class="btn btn-primary">
  <%= link_to 'Edit', edit_doctor_path(@doctor), :class => "btn"  %> |
  <%= link_to 'Back', doctors_path, :class => "btn"  %>
</div>