<p id="notice"><%= notice %></p>
<h2>Diet</h2>
<div class="create_link"><%= link_to 'Add Diet', new_diet_path %></div>
<div class="container">
  <!-- Info card -->
  <!-- <div class="row" > -->
  <div id="row" class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
    <% @diets.each do |diet| %>
    <div class="card">
      <img src="<% diet.photo %>" class="card-img-top" alt="Food Image" />
      <div class="card-body text-wrap" style="width: 270px;">
        <h2 class="card-title"><%= diet.name %></h2>
        <p class="card-text">Description: <%= diet.description %></p>
        <p class="card-text">Meal Time: <%= diet.meal_time %></p>
        <p class="card-text">Client Name: <%= User.find(diet.user_id).name %></p>
      </div>
      <div class="card-footer">
        <%= link_to 'Edit', edit_diet_path(diet) %> | <%= link_to 'Delete',
        diet, method: :delete, data: {confirm: 'Click OK to delete'} %>
      </div>
    </div>
    <% end %>
  </div>
  <!-- </div> -->
  <!-- End of info card -->
</div>
