<p id="notice"><%= notice %></p>

<div id="show_element" class="contianer">
<p>
  <strong>Name:</strong>
  <%= @diet.name %>
</p>

<p>
  <strong>Photo:</strong>
  <% if @diet.photo? %>
  <img src="<%= @diet.photo %>" alt="Food Image" />
  <% else %>
  <img id="img" src="https://health.gov/sites/default/files/2019-06/SVG%20Layer4.svg" class="card-img-top" alt="Food Image" />
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diet.description %>
</p>

<p>
  <strong>Meal Time:</strong>
  <%= @diet.meal_time %>
</p>

<p>
    <strong>Client Name:</strong>
    <!-- <%= @diet.user_id %> -->
    <%= User.find(@diet.user_id).name %>
</p>
</div>

<div class="btn btn-primary">
  <%= link_to 'Edit', edit_diet_path(@diet), :class => "btn"  %> |
  <%= link_to 'Back', diets_path, :class => "btn"  %>
</div>